<ion-view title="Swipe cards" no-scroll>
  <ion-pane>
	  <header-bar type="bar-transparent" title="'Promociones'">
	  </header-bar>
	  <a class="button button-icon icon-right ion-person" href="#/tab/dash"></a>

	  <swipe-cards>
	    <swipe-card on-swipe="cardSwiped()" on-destroy="cardDestroyed($index)" id="start-card">
	      Swipe hacia abajo para una nueva tarjeta
	    </swipe-card>
	    <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
	      <div>
	        <div class="title">
	          {{card.title}}
	        </div>
	        <div class="image">
	          <img ng-src="{{card.image}}">
	        </div>
	        <div class="button-bar">
	          <a class="button button-clear icon ion-plus button-positive" href="#/card/{{card.id_promo}}"> Mas info</a>
	        </div>
	      </div>
	    </swipe-card>
	  </swipe-cards>
  </ion-pane>
</ion-view>